@charset "UTF-8";
*{box-sizing: border-box;}
/*PC用のcss*/
body{
   font-family: 'Meiryo';
    font-size: 15px;
 }


.header{
    text-align: center;
    background-color: rgb(130, 183, 244);
    color:rgb(254, 255, 255) ;
    padding:20px;
    width:100%;
}

.main{
    margin:0 auto;
    /*margin-right:auto;
    margin-left:auto;*/
    margin-bottom:20px;
    border-radius: 2%;
    padding-left:30px;
    padding-bottom:40px;
    box-shadow:5px 5px 10px rgba(0,0,0,0.5);
    width:50%;
    height: auto;
}

.main p{
    float:left;
    padding-left:20px;
}

.mainicon{
    float: left;
    width:35px;
    border-radius: 50%;
    background-color: rgb(173, 222, 222);
    /*border-style: solid;*/
    margin-top:5px;
}
.mainopinion{
    font-size: 20px;
    clear:left;
}
.sub{
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
    border-radius: 2%;
    box-shadow:5px 5px 10px rgba(0,0,0,0.5);
    width:40%;
    height:100px;
    padding-left:15px;
}

.subicon{
    float:left;
    border-radius: 50%; 
    width: 35px;
    height:35px;
    margin-top:5px;
}
.sub p{
    font-size:16px;
    float:left;
    padding-left:20px;
    margin-bottom:5px;
}

.subopinion{
    font-size: 15px;
    clear: left;
}

.backbutton-back{
    display: block;
    width:300px;
    height:100px;
    margin: auto;
    /*background-color: blue;*/
    position:relative;
}

.backbutton{
    display:block;
    position:absolute;
    width: 140px;
    height:70px;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color:white;
    background-color: aqua;
    font-size:25px;
}
.backbutton:hover{background-color:rgb(7, 2, 168);}
.backbutton:active{background-color: aquamarine;}
/*タブレット用のcss*/
@media screen and (max-width:960px) and (min-width:520px) {
    
    .main{
        margin:0 auto;
        /*margin-right:auto;
        margin-left:auto;*/
        margin-bottom:20px;
        border-radius: 2%;
        padding-left:30px;
        padding-bottom:40px;
        box-shadow:5px 5px 10px rgba(0,0,0,0.5);
        width:70%;
        height: auto;
    }
    
    .sub{
        margin-right:auto;
        margin-left:auto;
        margin-bottom:10px;
        border-radius: 2%;
        box-shadow:5px 5px 10px rgba(0,0,0,0.5);
        width:60%;
        height:100px;
        padding-left:15px;
    }
    
        
    .backbutton{
        background-color:red;
    }

}

/*スマホ用のcss*/
@media screen and (max-width:520px) {

    .main{
        margin:0 auto;
        /*margin-right:auto;
        margin-left:auto;*/
        margin-bottom:20px;
        border-radius: 2%;
        padding-left:30px;
        padding-bottom:40px;
        box-shadow:5px 5px 10px rgba(0,0,0,0.5);
        width:80%;
        height: auto;
    }

    .mainopinion{
        font-size: 18px;
        clear:left;
    }
    .sub{
        margin-right:auto;
        margin-left:auto;
        margin-bottom:10px;
        border-radius: 2%;
        box-shadow:5px 5px 10px rgba(0,0,0,0.5);
        width:70%;
        height:100px;
        padding-left:15px;
    }
    
    .sub p{
        font-size:14px;
        float:left;
        padding-left:20px;
        margin-bottom:5px;
    }
    
    .subopinion{
        font-size: 13px;
        clear: left;
    }
    .backbutton{
        background-color:yellow;
    }


}