<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ちきったー主張入力</title>
        <link rel="stylesheet" href="../static/css/sutairu2.css" class="nyuryoku">
    </head>
    <body>
       <header>
        <div class="johnny"><h1>ちきったー</h1></div>
           
        </header>
       <div class="exceptheader">
        <main>
            
            <p>
                <div class="chickeet">
                    <input type="submit" value="ちきーと">
                </div>
                <div class="txt">
                    <textarea name="txt"></textarea>
                </div>
            </p>
            
        </main>
        
            <div class="kusai">
                <nav><a href="howto.html">遊び方</a></nav>
            </div>


            
       </div>
        
        
    </body>
</html>