<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ちきったー主張入力</title>


        <link rel="stylesheet" href="../static/css/homehowto.css">
    </head>
    <body>
       <header>
        <div class="skyblueheader"><h1>ちきったー</h1></div>
           
        </header>
       <div class="exceptheader">
            <main>
            <p>
                <form action="/result" method="post">
                <div class="chickeet">
                    <input type="submit" onclick="url_for(result)" value="ちきーと">
                </div>
                <div class="txt">
                    <textarea name="chickeet_content" required></textarea>
                </div>
                </form>
            </p>
            
        </main>
        <!--ポップアップ関連-->
         <div id="popup">遊び方</div>
         <div id="popWin">
           <div class="pop-win">
         
            <div class="main">  
                <img class="mainicon" src="../static/img/chicken(3).png" alt="アイコン">
                <p>遊び方</p>
                <div class="mainopinion">あなたの主張したい意見を書き込んでちきーとボタンを押そう！！</div>
                <div class="mainopinion">ニワトリたちがあなたを全肯定！！</div>
              </div>

            <!--<img src="../static/img/popimg.png" alt="遊び方" width="400" height="400" class="popimg">-->
            <img src="../static/img/howtoimgver3.png" alt="遊び方" width="420" height="300"> 
            <div id="close">閉じる</div>
           </div>
         </div>

            <!--<div class="kusai">
                <nav><a href="/howto">遊び方</a></nav>
            </div>-->

       
            
       </div>
       
       
        
    </body>
    <script>
        const popup = document.getElementById('popup');
const close = document.getElementById('close');
const popWin = document.getElementById('popWin');
popup.addEventListener('click', () => {
    popWin.style.display = 'flex';
});
close.addEventListener('click', () => {
    popWin.style.display = 'none';
});
    </script>
</html>