<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>あそびかた</title>
        <link rel="stylesheet" href="../static/css/homehowto.css">
    </head>
    <body>
            <div class="johnny"><h1>ちきったー</h1></div>
            <div class="daniel"><h1>あそびかた</h1></div>
        <div class="exceptheader">
            <main>
                <div class="fake">
                    <p>
                        ちきーと
                    </p>
                </div>
                <div class="txt">
                    <textarea name="txt"></textarea>
                </div>
            </main>
            <div class="discription">
                <p>
                    「同意してほしい！」「賞賛してほしい！」と思ったら、下の入力欄に書いて、"ちきーと"ボタンを押してみましょう！
                </p>
            </div>
            
              <div class="kusai">
                    <nav><a href="/">閉じる</a></nav>
                    <div class="next">
                        <nav><a href="/result">次へ</a></nav>
                    </div>
                </div>
            
         
                


        </body>



        </div>
        
</html>